apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: nginx:latest
        env:
          - name: DATABASE_HOST
            value: "postgres"
          - name: DATABASE_USER
            value: "user"
          - name: DATABASE_PASSWORD
            value: "password"
          - name: KAFKA_BROKER
            value: "kafka:9092"
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: my-app
spec:
  selector:
    app: my-app
  ports:
    - port: 8080
      targetPort: 8080
  type: LoadBalancer
