apiVersion: v1
kind: Service
metadata:
  name: scylla
  namespace: graph
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  ports:
    - port: 9042
      name: cql
  selector:
    app: scylla
